<html>
<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script type="text/javascript">
    google.load("visualization", "1", {packages:["corechart"]});
    google.setOnLoadCallback(draw);

    function draw() {
        var options = {
            title: '年別身長体重サンプル',
            hAxis: {title: '年月'},
            vAxis: {title: 'cm/kg'},
            width: 700,
            height: 250,
            pointSize: 2
        };

        $.getJSON("./values/random", function (res) {
            var data = new google.visualization.DataTable();
            data.addColumn('datetime', '日時');
            data.addColumn('number', '値');

            data.addRows(res.values.map(function (elem) {
                return [new Date(elem[0]), elem[1]]
            }));

            var chart = new google.visualization.LineChart(
                    document.getElementById('sample'));
            chart.draw(data, options);
        });
    }
</script>
<body>
<div id="sample" style="width: 400px;"></div>
</body>
</html>