<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Sensing Troops</title>
</head>
<body>

{{cpt.name}}, {{cpt.id}}: <a href=http://{{cpt.addr}}:{{cpt.port}}/info>info</a>
<ul>
    <li>sgt list</li>
    <ul>
        {% for sgt in cpt.sgt_list %}
        <li>{{sgt.name}}, {{sgt.id}}: <a href=http://{{sgt.addr}}:{{sgt.port}}/info>info</a></li>
        <ul>
            <li>pvt list</li>
            <ul>
                {% for pvt in sgt.pvt_list %}
                    <li>{{pvt.name}}, {{pvt.id}}: <a href=http://{{pvt.addr}}:{{pvt.port}}/info>info</a></li>
                {% endfor %}
            </ul>
            <li>cache</li>
            <textarea name="cache" cols=120 rows=8>{{sgt.cache_text}}
            </textarea>
        </ul>
        {% endfor %}
    </ul>
<!--
<li>cache</li>
{% for sgt in cpt.sgt_list %}
  <li>{{ i }}</li>
{% endfor %}
</ul>
-->

</body>
</html>
